*.pyc
db.sqlite3
package-lock.json
.env
.env-example

/account/migrations/
account/migrations/
/account/migrations
account/migrations
/account/migrations/*
account/migrations/*

/attendance/migrations/
attendance/migrations/
/attendance/migrations
attendance/migrations
/attendance/migrations/*
attendance/migrations/*

/article/migrations/
article/migrations/
/article/migrations
article/migrations
/article/migrations/*
article/migrations/*

/configuration/migrations/
configuration/migrations/
/configuration/migrations
configuration/migrations
/configuration/migrations/*
configuration/migrations/*

/employee/migrations/
employee/migrations/
/employee/migrations
employee/migrations
/employee/migrations/*
employee/migrations/*

/project/migrations/
project/migrations/
/project/migrations
project/migrations
/project/migrations/*
project/migrations/*

/sales/migrations/
sales/migrations/
/sales/migrations
sales/migrations
/sales/migrations/*
sales/migrations/*

/worker/migrations/
worker/migrations/
/worker/migrations
worker/migrations
/worker/migrations/*
worker/migrations/*

/finance/migrations/
finance/migrations/
/finance/migrations
finance/migrations
/finance/migrations/*
finance/migrations/*

/hr/migrations/
hr/migrations/
/hr/migrations
hr/migrations
/hr/migrations/*
hr/migrations/*

/billing/migrations/
billing/migrations/
/billing/migrations
billing/migrations
/billing/migrations/*
billing/migrations/*

/adminpage/migrations/
adminpage/migrations/
/adminpage/migrations
adminpage/migrations
/adminpage/migrations/*
adminpage/migrations/*

/landingpage/migrations/
landingpage/migrations/
/landingpage/migrations
landingpage/migrations
/landingpage/migrations/*
landingpage/migrations/*

/document/migrations/
document/migrations/
/document/migrations
document/migrations
/document/migrations/*
document/migrations/*

/account/static/

/env/
/node_modules/
/node/

/core/config.py
/core/config_new.json
core/config_new.json

/media/employee/
/media/profile/
/media/project/

/media/*
!/media/weeklyreport_template.xlsx
!/media/monthlyreport_template.xlsx
!/media/construction_monitoring_template.xlsx

/static/*
/webpack_static/*

pg*

# dont ignore
!/media/*template*

#xendit
api_keys.py

.prettierignore
.prettierrc.json

# sensitive
core/sensitive.py
*.json*
*.png*